@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,500&family=El+Messiri:wght@500&family=Macondo&family=Tangerine:wght@700&display=swap');

html { font-size: 10px }
body { font: 1.5rem 'EB Garamond', 'Bree Serif', Georgia, serif; 
min-height: 100vh;}
main {
    width: 80%;
    margin: 0 auto;
}

h1 { font-size: 3.2rem; }
h2 { font-size: 2.4rem; }

h1.cwcName {
  font: 2.2em Macondo, cursive;
  color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
}
h2.cwcName {
  font: 2em Tangerine, cursive;
  color: white;
  margin-right: 4.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
}
.cwcName {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  margin: 0 3rem;
}
a { text-decoration: none }

img {
    max-width: 100%;
    height: auto;
}

/* --header-- */

header {
  background: #B0C8A4 url(../images/whiteCabinSmall.jpg) 50% 65%/cover no-repeat;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 5px solid #503921;
}

/* --navigation-- */

nav {
  font: 1.8rem 'Bree Serif', 'EB Garamond', Georgia, serif;
  position: absolute;
  top: 0;
  background-color: #b0c8a4;
  width: 100%;
  display: none;
}

nav h2 { display: none }

nav li {
  padding: 1rem;
  border-bottom: 2px solid #2b471f;
}

nav li a { display: block; }
nav li a:visited { color: #503921; }
nav li a:hover { 
  color: #fef0d4;
  text-shadow: 2px 2px 3px #2b471f;
}

/* --nav toggling-- */

#navToggler:checked ~ nav { display: block }
#navToggler { display: none }
.navTogglerMenu {
  position: absolute;
  top: .4rem;
  right: 1rem;
}

.mi {
  color: #503921;
  font-size: 4rem;
}
.menuClose { display: none; }
#navToggler:checked ~ .navTogglerMenu .menuClose { display: block }
#navToggler:checked ~ .navTogglerMenu .menuOpen { display: none; }

/*-- Main Section--*/
body {
    background-color: #FEF0D4;
    padding-bottom: 1em;
}
main p{
    background-color: #EEC1B7;
    padding: 1em 2em;
    color: #503921;
    border-radius: 1em;
    font-family: 'EB Garamond', serif;
}
 main img {
    display: block;
    margin: auto;
    padding: 1em;
}
main h2 {text-align: center;}
main li{
    text-align: end;
    padding-right: 2em;
}

/*-- Footer --*/
footer {
    background-color: #B0C8A4;
    color: #503921;
}
.social a:link{
    border: solid 1px rgba(80, 57, 33, 0);
    text-decoration: none;
    display: inline-block;
}
.social a:hover{
    background-color: #B0C8A4;
    color: #2B471F ;
    border-color: #2B471F;
    }
.social a:visited{color: #EEC1B7;}

/*-- Service Page --*/
h1.cwcNamelogo {
    font: 1.2em Macondo, cursive;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 15px;
}
h2.cwcNamelogo {
    font: .6em Tangerine, cursive;
    color: #fff;
    position: absolute;
    top: 35px;
    left: 60px;
}
.cwcNamelogo a:hover { color: #fff;}
.cwcNamelogo a:visited { color: #fff;}
h1.subpageHead {
    font: 3.2em Macondo, cursive;
    color: #fff;
    margin-right: 1em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
}
p.subpageHead {
    font: 1.5em 'EB Garamond', serif;
    color: #fff;
}
main h2 { font: 2.4rem 'El Messiri';
    color: #503921; 
    text-align: center;
}
main ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 1em 2em;
}
.price li{ background-color: #EEC1B7;
    color: #503921;
    border-radius: 1em;
}

/* -- BigBearActivity --*/
ul.bbact {
    flex-direction: column;
    background-color: #EEC1B7;
    border-radius: 1em;
}
.bbact li {
    text-align: center;  
}

/* --media queries-- */

@media screen and (min-width: 500px) {
  nav ul {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    border-bottom: 2px solid #2b471f;
    align-content: center;
  }
  nav ul li { padding-left: 2rem }
  nav ul li:nth-of-type(odd) { border-bottom: 2px solid #2b471f }
  nav ul li:nth-of-type(even) { padding-right: 4rem }
  nav ul li:last-of-type { border-bottom: none; }
  header { background: #B0C8A4 url(../images/whiteCabinMedium.jpg) 50% 65%/cover no-repeat;
    }
    footer h2,p{text-align: center;}
    .social {
        display: flex;
        justify-content: center;   
    }
    .social li {padding: .75em;}
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        }
    footer p{ padding-top: 1em;}
    
 /*-- Service Page--*/
    main p {
        margin-bottom: 1em;
    }
}

/* --mid screen-- */

@media screen and (min-width: 700px) {
  header {font-size: 1.2em;}
  nav ul {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  }
  nav ul li {border: none;}
  nav ul li:nth-of-type(odd) { border: none }
  nav ul li:nth-of-type(n):nth-of-type(-n+4) { border-bottom: 2px solid #2b471f  }
  /*above selects only the first four*/
    .home {   
        display: flex;
        padding-top: 1em;
    }  
    section.home {
        max-width: 47%;
        gap: 3em;
    }
    main p {margin: 1em 2em;}
     footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);  
            align-items: center;
    }
    .copyright {
        grid-column: span 2;
        padding-top: 1em;
    }       
/*-- Service Page--*/
    h2.cwcNameSer {
        top: 43px;
    left: 65px;
    }
    main.service, main.bbact {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1em;
      }
    .service img {padding: 0;}
    
    /*-- Big Bear Activity --*/
     .third {
        grid-column: span 2; 
    }
}

  
/* --large screen-- */

@media screen and (min-width: 950px) {
  header {
    height: 40rem; /*make sure this is the same as nav top*/
    font-size: 1.8em;
    background: #B0C8A4 url(../images/whiteCabinLarge.jpg) 50% 65%/ cover no-repeat;
  }
  header label .mi { display: none }
  nav, nav ul { all: initial }
  nav {
    font: 2.2rem 'Bree Serif', 'EB Garamond', Georgia, serif;
    color: #503921;
    position: absolute;
    left: 0;
    top: 40rem; /*same as height of header*/
    background-color: #b0c8a4;
    display: flex;
    align-items: center;
/*      height: 875px;*/
    flex-direction: column;
  }
  #navToggler:checked ~ .navTogglerMenu .menuClose { display: none }
  #navToggler:checked ~ nav { display: flex }
  /* above fixes bug where if you expand the screen while nav is checked the format is off*/
  nav h2 {
    display: block;
    padding: 3rem 0;
    border-bottom: solid 1px #2b471f;
    text-align: center;
    font-size: 3.5rem;
  }
  nav ul { margin: 4rem 0 8rem }
  nav ul li:nth-of-type(n):nth-of-type(-n+4) { border: none }
  nav ul li:nth-of-type(even) { padding-right: 0 }
  nav ul li {
    padding: 1rem;
    border: none;
    color: #503921;
  }
  nav ul li a:link {font: 2.2rem 'Bree Serif', 'EB Garamond', Georgia, serif;}
  nav ul li a:visited { color: #503921; }
  nav ul li a:hover { 
  color: #fef0d4;
  text-shadow: 2px 2px 3px #2b471f;
} 
  nav ul li a:active { color: #eec1b7 }
   
 .home {  
      margin-left: 196px;
    }
    
    /*-- Service Page --*/
     h2.cwcNamelogo {
        top: 55px;
        left: 65px;
    }
    main.service, main.bbact {margin-left: 196px;}
    
    /*-- Big Bear Activity --*/
    
    
}